body {
    background-image: url('../images/site/checkerboard.jpg');
    background-size: cover;
}

#container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    border-color: chartreuse;
    border-style: solid;
    border-width: 2px;
}

#top-header {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;

}

@media (min-width: 800px) {

    .reviews,
    .upgrades-section {
        width: 48%;
        margin-bottom: 0;
    }

    .content-wrapper {
        flex-direction: row;
        justify-content: space-between;
    }

    .welcome img {
        width: 100%;
        max-width: 1200px;
    }

    .cta {
        right: 70%;
        top: 50%;
    }
}